.login{
    width: 100%;
    height: 68%;
    background-image: url('../../assets/images/login-bg.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 90px;
    .login_title{
        width: 100%;
        height: 90px;
        background: #fff;
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        img{
            height: 40px;
            margin-left: 10%;
        }
    }
    /* &-top{
        width: 80%;
        margin: 0 auto;
        height: 100px;
        background: #f9f9f9;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        font-size: 16px;
        padding-left: 40px;
        span:nth-child(2){
            font-size: 14px;
            color: #666;
            margin-top: 10px;
        }
    } */
    &-con{
        width: 100%;
        height: 100%;
        .ivu-row-flex-middle{
            height: 100%;
            .ivu-col-span-8{
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
        .ivu-alert.ivu-alert-with-icon{
            width: 55%;
        }
        .form-con{
            margin-bottom: 20px;
            width: 20rem;
            height: 23rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            background: #fff;
            
            .ivu-input-group-prepend{
                width: 40px;
                background: #d6d6d6;
            }
            .ivu-form-item{
                margin-bottom: 20px;
                .ivu-form-item-content{
                    line-height: 0;
                }
            }
            .ivu-form-item:last-child{
                margin-bottom: 5px;
            }
            /* .ivu-form-item:nth-last-child(2){
                margin-bottom: 10px;
            } */
            .table{
                .table_title{
                    font-size: 16px;
                    font-weight: bolder;
                    width: 100%;
                    text-align: center;
                    margin: 10px 0 15px 0;
                    color: #333;
                }
                .remember_psw{
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    padding-right: 20px;
                    p{
                        margin-left: 15px;
                        font-size: 14px;
                        color: #999;
                    }
                }
            }
            
            form{
                margin: 0 20px;
                .ivu-input{
                    height: 40px;
                    color: #999;
                }
                .ivu-checkbox-inner{
                    margin-left: 7px;
                }
                .check{
                    color: #777;
                    margin-left: 5px;
                }
                button{
                    background: #1179c9;
                    color: #fff;
                }
                
                .ivu-form-item-error-tip:nth-child(3){
                    margin-top: 40px;
                }
            }
            
            .code_input{
                width: 65%;
                float: left;
            }
            .code_btn{
                margin-left: 5%;
                width: 30%;
                height: 39px;
                line-height: 39px;
                border: 1px solid #d6d6d6;
                text-align: center;
                background: #fff;
                float: left;
                border-radius: 5px;
                color:#999;
            }
            .code{
                margin-left: 5%;
                width: 30%;
                height: 40px;
                float: left;
                .s-canvas{
                    width: 100%;
                    height: 100%;
                }
                canvas{
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }
            }
            .login-btn{
                height: 40px;
                font-size: 14px;
                font-weight: bold;
            }
            
            
            

        }
        
    }
}
